.todo-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.form-input {
    padding: 4px;
    font-size: 14px;
}

.btn-create{
    padding: 8px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #53377A;
}