.todo-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.form-input {
    padding: 4px;
    font-size: 14px;
}

.btn-create {
    padding: 8px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #53377A;
}

.input-wrapper {
    position: relative;
}

.error-message {
    position: absolute;
    bottom: -12px;
    left: 0;
    color: red;
    font-size: 0.6em;
}